body {
    font-family: 'Segoe UI', sans-serif;
    margin:auto;
}

h1{
    color:#1e598d;
    font-weight:normal;
}
h2{
    font-weight:normal;
}

hr{
    border:none;
    border-top:1px solid #ccc;
    margin-bottom:2px;
}
.header-right{
    padding-top:12px;
    text-align:right;
}

.center{
    text-align:center;
}
.right{
    text-align:right;
}

.question{
    background-color:#eee;
    color:#151569;
    min-height:300px;
    text-align:center;
}
.option{
    background-color:#cadaee;
    font-size:20px;
    padding:10px;
    margin:3px;
}
.option label{
    font-weight:normal;
}
    #quiz .options input[type=checkbox] {
        background-color:#eee;
        border:1px solid #ccc;
        height:22px;
        width:22px;
    }

    .quizNav {
        margin:auto;
        text-align:center;
    }
    .quizNav ul{
        margin:0;
    }


    .quizNav ul li{
        display:inline-block;
        list-style-type:none;
    }
    
div.review{
    text-align:center;
}
div.review > div {
    cursor:pointer;
}

.answered {
    background-color: #bae4ba;
    border: 1px solid #bde5bd;
    margin: 2px 0;
    padding: 16px;
    border-radius: 7px;
    font-size: 17px;
    color: #054907;
    font-weight: bold;
    }

.not-answered {
   background-color: #fbc1c1;
    border: 1px solid #fce9e9;
    margin: 2px 0;
    padding: 16px;
    border-radius: 7px;
    font-size: 17px;
    color: #852121;
    font-weight: bold;    
}


.result-question{
    background-color:#eee;
    margin:4px;
    padding:6px;
}

    
/* Create Quiz Styles */
.create-quiz .question {
    text-align:left;
}
.create-quiz input[type=text]{
    border:1px solid #ddd;
    width:95%;
}
.create-quiz .tb-quiz-name{
    background-color:#ccffcc;
    text-align:center;
}

.create-quiz .tb-desc{
    background-color:#fff;
}

.create-quiz .options > div{
    margin-left:20px;
}
.create-quiz .options input[type=checkbox]{
    border: 1px solid #262626;
    display: inline-block;
    height:20px;
    margin-top:10px;
    margin-bottom:0;
    padding:0;
    width:20px;
    -webkit-appearance:checkbox;    
}


@media only screen and (max-width: 480px) {
    h1,.h1{
        font-size:22px;
    }
    h2,.h2{
        font-size:20px;
    }
    h3,.h3{
        font-size:18px;
    }
    .option {
        font-size: 16px;
        padding: 6px;
    }
}


.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 15px; 
    font-size: 20px;}
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 25px;
      height: 25px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 18px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.assinale{
  width: 600px;
}